.Modal {
 
   width: 180px;
   height: auto;
   background-color: white;
   border: 2px solid #ecebeb;
   box-sizing: border-box;
  box-shadow: 5px 5px 5px 0px rgba(209, 208, 208, 0.781);
  
 
}

.Modalbtn{
   float: right;
   border: 2px solid transparent;
   margin: 0.2rem;
   background-color: white;
   color: #b6b2b3;
   border-radius: 5px;
   font-weight: bold;
   cursor: pointer;
}

/*  #b6b2b3 */
